$md-icon-size: 24px;


// App bar
$md-appbar-height-mobile: 56px;
$md-appbar-height-tablet: 64px;


// Gutters
$md-gutter-mobile: 16px;
$md-gutter-tablet: 24px;


// Navigation drawer
$md-navidrawer-width-mobile: 280px;
$md-navidrawer-width-tablet: 320px;


// Menu
$md-menu-pad-vertical-mobile: 8px;
$md-menu-pad-vertical-tablet: 16px;

$md-menuitem-height-mobile: 48px;
$md-menuitem-height-tablet: 32px;

$md-menuitem-pad-left-mobile: 16px;
$md-menuitem-pad-left-tablet: 24px;

$md-menuitem-icon-pad-right-mobile: 24px;
$md-menuitem-icon-pad-right-tablet: 16px;

$md-menu-width-min: 112px;


// Tooltips
$md-tooltip-pad-horizontal-mobile: 16px;
$md-tooltip-pad-horizontal-tablet: 8px;

$md-tooltip-height-mobile: 32px;
$md-tooltip-height-tablet: 22px;


// Tabs
$md-tab-pad-horizontal-mobile: 12px;
$md-tab-pad-horizontal-tablet: 24px;
