@mixin responsive-ui {
  .root {

    /* MOBILE */
    &[width-range~="0-960px"] {
      padding-top: $md-appbar-height-mobile;


      // App bar
      .md-appbar {
        height: $md-appbar-height-mobile;
        padding: 0 $md-gutter-mobile;
      }


      // Navigation drawer
      .md-navidrawer {
        margin-left: -$md-navidrawer-width-mobile;
        top: $md-appbar-height-mobile;
        width: $md-navidrawer-width-mobile;

        &.visible {
          margin-left: 0;

          + .content {
            padding-left: $md-navidrawer-width-mobile;
          }
        }
      }

      .md-naviitem {
        padding-left: $md-gutter-mobile;
      }


      // Tabs
      .md-tab-light,
      .md-tab-dark,
      .md-tab-icontext-light,
      .md-tab-icontext-dark {
        @include md-tab-font(null, true);
        padding: 0 $md-tab-pad-horizontal-mobile;
      }

      .md-tabsheet-light,
      .md-tabsheet-dark {
        .v-tabsheet-tabitem {
          padding: 0 $md-tab-pad-horizontal-mobile;
        }
        .v-captiontext {
          @include md-tab-font(null, true);
        }
      }
    }




    /* TABLET & DESKTOP */
    &[width-range~="961px-"] {
      padding-top: $md-appbar-height-tablet;


      // App bar
      .md-appbar {
        height: $md-appbar-height-tablet;
        padding: 0 $md-gutter-tablet;
      }


      // Navigation drawer
      .md-navidrawer {
        margin-left: -$md-navidrawer-width-tablet;
        top: $md-appbar-height-tablet;
        width: $md-navidrawer-width-tablet;

        &.visible {
          margin-left: 0;

          + .content {
            padding-left: $md-navidrawer-width-tablet;
          }
        }
      }

      .md-naviitem {
        padding-left: $md-gutter-tablet;
      }


      // Tabs
      .md-tab-light,
      .md-tab-dark,
      .md-tab-icontext-light,
      .md-tab-icontext-dark {
        @include md-tab-font(null, false);
        padding: 0 $md-tab-pad-horizontal-tablet;
      }

      .md-tabsheet-light,
      .md-tabsheet-dark {
        .v-tabsheet-tabitem {
          padding: 0 $md-tab-pad-horizontal-tablet;
        }
        .v-captiontext {
          @include md-tab-font(null, false);
        }
      }
    }
  }
}


@media (max-width: 960px) {
  // Menus
  [class*="input-suggestpopup"] {
    padding: $md-menu-pad-vertical-mobile 0;

    .v-icon + span {
      padding-left: $md-menuitem-icon-pad-right-mobile;
    }
  }

  .gwt-MenuItem {
    // Color is set by light/dark theme.
    @include md-subheader-font;
    height: $md-menuitem-height-mobile;
    padding-left: $md-menuitem-pad-left-mobile;
  }


  // Tooltips
  .v-tooltip {
    @include md-tooltip-font($md-primary-light, true);
    height: $md-tooltip-height-mobile;
    padding: 0 $md-tooltip-pad-horizontal-mobile;
  }
}

@media (min-width: 961px) {
  // Menus
  [class*="input-suggestpopup"] {
    padding: $md-menu-pad-vertical-tablet 0;

    .v-icon + span {
      padding-left: $md-menuitem-icon-pad-right-tablet;
    }
  }

  .gwt-MenuItem {
    // Color is set by light/dark theme.
    @include md-menu-font;
    height: $md-menuitem-height-tablet;
    padding-left: $md-menuitem-pad-left-tablet;
  }


  // Tooltips
  .v-tooltip {
    @include md-tooltip-font($md-primary-light, false);
    height: $md-tooltip-height-tablet;
    padding: 0 $md-tooltip-pad-horizontal-tablet;
  }

}
