$md-iconbtn-size: 24px;
$md-iconbtn-ripple-size: 48px;

$md-iconbtn-light-font-color: $md-secondary-light;
$md-iconbtn-light-disabled-font-color: $md-disabled-light;
$md-iconbtn-light-focus-bg-color: rgba(255, 255, 255, 0.3);

$md-iconbtn-dark-font-color: $md-secondary-dark;
$md-iconbtn-dark-disabled-font-color: $md-disabled-dark;
$md-iconbtn-dark-focus-bg-color: $md-dividers-dark;


@mixin icon-buttons {
  .md-iconbtn-light {
    @include md-iconbtn($md-iconbtn-light-font-color, $md-iconbtn-light-disabled-font-color, $md-iconbtn-light-focus-bg-color);
  }
  .md-iconbtn-dark {
    @include md-iconbtn($md-iconbtn-dark-font-color, $md-iconbtn-dark-disabled-font-color, $md-iconbtn-dark-focus-bg-color);
  }
}


@mixin md-iconbtn($font-color, $disabled-font-color, $focus-bg-color) {
  @include md-ripple-btn($focus-bg-color, $md-iconbtn-ripple-size);
  @include md-cubic-std;
  align-items: center;
  color: $font-color;
  cursor: pointer;
  display: flex;
  height: $md-iconbtn-size;
  position: relative;
  width: $md-iconbtn-size;

  // Disabled style
  &.v-disabled {
    color: $disabled-font-color;
    cursor: default;
  }

  * {
    align-items: center;
    display: flex;
  }
}
