// Dark text on light backgrounds
$md-primary-dark-opacity: 0.87 !default;
$md-secondary-dark-opacity: 0.54 !default;
$md-disabled-dark-opacity: 0.38 !default;
$md-divider-dark-opacity: 0.12 !default;
$md-primary-dark: rgba(0, 0, 0, 0.87) !default;
$md-secondary-dark: rgba(0, 0, 0, 0.54) !default;
$md-disabled-dark: rgba(0, 0, 0, 0.38) !default;
$md-divider-dark: rgba(0, 0, 0, 0.12) !default;

// White text on dark backgrounds
$md-primary-light-opacity: 1.0 !default;
$md-secondary-light-opacity: 0.7 !default;
$md-disabled-light-opacity: 0.5 !default;
$md-divider-light-opacity: 0.12 !default;
$md-primary-light: rgba(255, 255, 255, 1.0) !default;
$md-secondary-light: rgba(255, 255, 255, 0.7) !default;
$md-disabled-light: rgba(255, 255, 255, 0.5) !default;
$md-divider-light: rgba(255, 255, 255, 0.12) !default;


// Colors
$md-red-50: #FFEBEE !default;
$md-red-100: #FFCDD2 !default;
$md-red-200: #EF9A9A !default;
$md-red-300: #E57373 !default;
$md-red-400: #EF5350 !default;
$md-red-500: #F44336 !default;
$md-red-600: #E53935 !default;
$md-red-700: #D32F2F !default;
$md-red-800: #C62828 !default;
$md-red-900: #B71C1C !default;
$md-red-a100: #FF8A80 !default;
$md-red-a200: #FF5252 !default;
$md-red-a400: #FF1744 !default;
$md-red-a700: #D50000 !default;
$md-reds: ($md-red-50, $md-red-100, $md-red-200, $md-red-300, $md-red-400, $md-red-500, $md-red-600, $md-red-700, $md-red-800, $md-red-900, $md-red-a100, $md-red-a200, $md-red-a400, $md-red-a700);

$md-pink-50: #FCE4EC !default;
$md-pink-100: #F8BBD0 !default;
$md-pink-200: #F48FB1 !default;
$md-pink-300: #F06292 !default;
$md-pink-400: #EC407A !default;
$md-pink-500: #E91E63 !default;
$md-pink-600: #D81B60 !default;
$md-pink-700: #C2185B !default;
$md-pink-800: #AD1457 !default;
$md-pink-900: #880E4F !default;
$md-pink-a100: #FF80AB !default;
$md-pink-a200: #FF4081 !default;
$md-pink-a400: #F50057 !default;
$md-pink-a700: #C51162 !default;
$md-pinks: ($md-pink-50, $md-pink-100, $md-pink-200, $md-pink-300, $md-pink-400, $md-pink-500, $md-pink-600, $md-pink-700, $md-pink-800, $md-pink-900, $md-pink-a100, $md-pink-a200, $md-pink-a400, $md-pink-a700);

$md-purple-50: #F3E5F5 !default;
$md-purple-100: #E1BEE7 !default;
$md-purple-200: #CE93D8 !default;
$md-purple-300: #BA68C8 !default;
$md-purple-400: #AB47BC !default;
$md-purple-500: #9C27B0 !default;
$md-purple-600: #8E24AA !default;
$md-purple-700: #7B1FA2 !default;
$md-purple-800: #6A1B9A !default;
$md-purple-900: #4A148C !default;
$md-purple-a100: #EA80FC !default;
$md-purple-a200: #E040FB !default;
$md-purple-a400: #D500F9 !default;
$md-purple-a700: #AA00FF !default;
$md-purples: ($md-purple-50, $md-purple-100, $md-purple-200, $md-purple-300, $md-purple-400, $md-purple-500, $md-purple-600, $md-purple-700, $md-purple-800, $md-purple-900, $md-purple-a100, $md-purple-a200, $md-purple-a400, $md-purple-a700);

$md-deep-purple-50: #EDE7F6 !default;
$md-deep-purple-100: #D1C4E9 !default;
$md-deep-purple-200: #B39DDB !default;
$md-deep-purple-300: #9575CD !default;
$md-deep-purple-400: #7E57C2 !default;
$md-deep-purple-500: #673AB7 !default;
$md-deep-purple-600: #5E35B1 !default;
$md-deep-purple-700: #512DA8 !default;
$md-deep-purple-800: #4527A0 !default;
$md-deep-purple-900: #311B92 !default;
$md-deep-purple-a100: #B388FF !default;
$md-deep-purple-a200: #7C4DFF !default;
$md-deep-purple-a400: #651FFF !default;
$md-deep-purple-a700: #6200EA !default;
$md-deep-purples: ($md-deep-purple-50, $md-deep-purple-100, $md-deep-purple-200, $md-deep-purple-300, $md-deep-purple-400, $md-deep-purple-500, $md-deep-purple-600, $md-deep-purple-700, $md-deep-purple-800, $md-deep-purple-900, $md-deep-purple-a100, $md-deep-purple-a200, $md-deep-purple-a400, $md-deep-purple-a700);

$md-indigo-50: #E8EAF6 !default;
$md-indigo-100: #C5CAE9 !default;
$md-indigo-200: #9FA8DA !default;
$md-indigo-300: #7986CB !default;
$md-indigo-400: #5C6BC0 !default;
$md-indigo-500: #3F51B5 !default;
$md-indigo-600: #3949AB !default;
$md-indigo-700: #303F9F !default;
$md-indigo-800: #283593 !default;
$md-indigo-900: #1A237E !default;
$md-indigo-a100: #8C9EFF !default;
$md-indigo-a200: #536DFE !default;
$md-indigo-a400: #3D5AFE !default;
$md-indigo-a700: #304FFE !default;
$md-indigos: ($md-indigo-50, $md-indigo-100, $md-indigo-200, $md-indigo-300, $md-indigo-400, $md-indigo-500, $md-indigo-600, $md-indigo-700, $md-indigo-800, $md-indigo-900, $md-indigo-a100, $md-indigo-a200, $md-indigo-a400, $md-indigo-a700);

$md-blue-50: #E3F2FD !default;
$md-blue-100: #BBDEFB !default;
$md-blue-200: #90CAF9 !default;
$md-blue-300: #64B5F6 !default;
$md-blue-400: #42A5F5 !default;
$md-blue-500: #2196F3 !default;
$md-blue-600: #1E88E5 !default;
$md-blue-700: #1976D2 !default;
$md-blue-800: #1565C0 !default;
$md-blue-900: #0D47A1 !default;
$md-blue-a100: #82B1FF !default;
$md-blue-a200: #448AFF !default;
$md-blue-a400: #2979FF !default;
$md-blue-a700: #2962FF !default;
$md-blues: ($md-blue-50, $md-blue-100, $md-blue-200, $md-blue-300, $md-blue-400, $md-blue-500, $md-blue-600, $md-blue-700, $md-blue-800, $md-blue-900, $md-blue-a100, $md-blue-a200, $md-blue-a400, $md-blue-a700);

$md-light-blue-50: #E1F5FE !default;
$md-light-blue-100: #B3E5FC !default;
$md-light-blue-200: #81D4FA !default;
$md-light-blue-300: #4FC3F7 !default;
$md-light-blue-400: #29B6F6 !default;
$md-light-blue-500: #03A9F4 !default;
$md-light-blue-600: #039BE5 !default;
$md-light-blue-700: #0288D1 !default;
$md-light-blue-800: #0277BD !default;
$md-light-blue-900: #01579B !default;
$md-light-blue-a100: #80D8FF !default;
$md-light-blue-a200: #40C4FF !default;
$md-light-blue-a400: #00B0FF !default;
$md-light-blue-a700: #0091EA !default;
$md-light-blues: ($md-light-blue-50, $md-light-blue-100, $md-light-blue-200, $md-light-blue-300, $md-light-blue-400, $md-light-blue-500, $md-light-blue-600, $md-light-blue-700, $md-light-blue-800, $md-light-blue-900, $md-light-blue-a100, $md-light-blue-a200, $md-light-blue-a400, $md-light-blue-a700);

$md-cyan-50: #E0F7FA !default;
$md-cyan-100: #B2EBF2 !default;
$md-cyan-200: #80DEEA !default;
$md-cyan-300: #4DD0E1 !default;
$md-cyan-400: #26C6DA !default;
$md-cyan-500: #00BCD4 !default;
$md-cyan-600: #00ACC1 !default;
$md-cyan-700: #0097A7 !default;
$md-cyan-800: #00838F !default;
$md-cyan-900: #006064 !default;
$md-cyan-a100: #84FFFF !default;
$md-cyan-a200: #18FFFF !default;
$md-cyan-a400: #00E5FF !default;
$md-cyan-a700: #00B8D4 !default;
$md-cyans: ($md-cyan-50, $md-cyan-100, $md-cyan-200, $md-cyan-300, $md-cyan-400, $md-cyan-500, $md-cyan-600, $md-cyan-700, $md-cyan-800, $md-cyan-900, $md-cyan-a100, $md-cyan-a200, $md-cyan-a400, $md-cyan-a700);

$md-teal-50: #E0F2F1 !default;
$md-teal-100: #B2DFDB !default;
$md-teal-200: #80CBC4 !default;
$md-teal-300: #4DB6AC !default;
$md-teal-400: #26A69A !default;
$md-teal-500: #009688 !default;
$md-teal-600: #00897B !default;
$md-teal-700: #00796B !default;
$md-teal-800: #00695C !default;
$md-teal-900: #004D40 !default;
$md-teal-a100: #A7FFEB !default;
$md-teal-a200: #64FFDA !default;
$md-teal-a400: #1DE9B6 !default;
$md-teal-a700: #00BFA5 !default;
$md-teals: ($md-teal-50, $md-teal-100, $md-teal-200, $md-teal-300, $md-teal-400, $md-teal-500, $md-teal-600, $md-teal-700, $md-teal-800, $md-teal-900, $md-teal-a100, $md-teal-a200, $md-teal-a400, $md-teal-a700);

$md-green-50: #E8F5E9 !default;
$md-green-100: #C8E6C9 !default;
$md-green-200: #A5D6A7 !default;
$md-green-300: #81C784 !default;
$md-green-400: #66BB6A !default;
$md-green-500: #4CAF50 !default;
$md-green-600: #43A047 !default;
$md-green-700: #388E3C !default;
$md-green-800: #2E7D32 !default;
$md-green-900: #1B5E20 !default;
$md-green-a100: #B9F6CA !default;
$md-green-a200: #69F0AE !default;
$md-green-a400: #00E676 !default;
$md-green-a700: #00C853 !default;
$md-greens: ($md-green-50, $md-green-100, $md-green-200, $md-green-300, $md-green-400, $md-green-500, $md-green-600, $md-green-700, $md-green-800, $md-green-900, $md-green-a100, $md-green-a200, $md-green-a400, $md-green-a700);

$md-light-green-50: #F1F8E9 !default;
$md-light-green-100: #DCEDC8 !default;
$md-light-green-200: #C5E1A5 !default;
$md-light-green-300: #AED581 !default;
$md-light-green-400: #9CCC65 !default;
$md-light-green-500: #8BC34A !default;
$md-light-green-600: #7CB342 !default;
$md-light-green-700: #689F38 !default;
$md-light-green-800: #558B2F !default;
$md-light-green-900: #33691E !default;
$md-light-green-a100: #CCFF90 !default;
$md-light-green-a200: #B2FF59 !default;
$md-light-green-a400: #76FF03 !default;
$md-light-green-a700: #64DD17 !default;
$md-light-greens: ($md-light-green-50, $md-light-green-100, $md-light-green-200, $md-light-green-300, $md-light-green-400, $md-light-green-500, $md-light-green-600, $md-light-green-700, $md-light-green-800, $md-light-green-900, $md-light-green-a100, $md-light-green-a200, $md-light-green-a400, $md-light-green-a700);

$md-lime-50: #F9FBE7 !default;
$md-lime-100: #F0F4C3 !default;
$md-lime-200: #E6EE9C !default;
$md-lime-300: #DCE775 !default;
$md-lime-400: #D4E157 !default;
$md-lime-500: #CDDC39 !default;
$md-lime-600: #C0CA33 !default;
$md-lime-700: #AFB42B !default;
$md-lime-800: #9E9D24 !default;
$md-lime-900: #827717 !default;
$md-lime-a100: #F4FF81 !default;
$md-lime-a200: #EEFF41 !default;
$md-lime-a400: #C6FF00 !default;
$md-lime-a700: #AEEA00 !default;
$md-limes: ($md-lime-50, $md-lime-100, $md-lime-200, $md-lime-300, $md-lime-400, $md-lime-500, $md-lime-600, $md-lime-700, $md-lime-800, $md-lime-900, $md-lime-a100, $md-lime-a200, $md-lime-a400, $md-lime-a700);

$md-yellow-50: #FFFDE7 !default;
$md-yellow-100: #FFF9C4 !default;
$md-yellow-200: #FFF59D !default;
$md-yellow-300: #FFF176 !default;
$md-yellow-400: #FFEE58 !default;
$md-yellow-500: #FFEB3B !default;
$md-yellow-600: #FDD835 !default;
$md-yellow-700: #FBC02D !default;
$md-yellow-800: #F9A825 !default;
$md-yellow-900: #F57F17 !default;
$md-yellow-a100: #FFFF8D !default;
$md-yellow-a200: #FFFF00 !default;
$md-yellow-a400: #FFEA00 !default;
$md-yellow-a700: #FFD600 !default;
$md-yellows: ($md-yellow-50, $md-yellow-100, $md-yellow-200, $md-yellow-300, $md-yellow-400, $md-yellow-500, $md-yellow-600, $md-yellow-700, $md-yellow-800, $md-yellow-900, $md-yellow-a100, $md-yellow-a200, $md-yellow-a400, $md-yellow-a700);

$md-amber-50: #FFF8E1 !default;
$md-amber-100: #FFECB3 !default;
$md-amber-200: #FFE082 !default;
$md-amber-300: #FFD54F !default;
$md-amber-400: #FFCA28 !default;
$md-amber-500: #FFC107 !default;
$md-amber-600: #FFB300 !default;
$md-amber-700: #FFA000 !default;
$md-amber-800: #FF8F00 !default;
$md-amber-900: #FF6F00 !default;
$md-amber-a100: #FFE57F !default;
$md-amber-a200: #FFD740 !default;
$md-amber-a400: #FFC400 !default;
$md-amber-a700: #FFAB00 !default;
$md-ambers: ($md-amber-50, $md-amber-100, $md-amber-200, $md-amber-300, $md-amber-400, $md-amber-500, $md-amber-600, $md-amber-700, $md-amber-800, $md-amber-900, $md-amber-a100, $md-amber-a200, $md-amber-a400, $md-amber-a700);

$md-orange-50: #FFF3E0 !default;
$md-orange-100: #FFE0B2 !default;
$md-orange-200: #FFCC80 !default;
$md-orange-300: #FFB74D !default;
$md-orange-400: #FFA726 !default;
$md-orange-500: #FF9800 !default;
$md-orange-600: #FB8C00 !default;
$md-orange-700: #F57C00 !default;
$md-orange-800: #EF6C00 !default;
$md-orange-900: #E65100 !default;
$md-orange-a100: #FFD180 !default;
$md-orange-a200: #FFAB40 !default;
$md-orange-a400: #FF9100 !default;
$md-orange-a700: #FF6D00 !default;
$md-oranges: ($md-orange-50, $md-orange-100, $md-orange-200, $md-orange-300, $md-orange-400, $md-orange-500, $md-orange-600, $md-orange-700, $md-orange-800, $md-orange-900, $md-orange-a100, $md-orange-a200, $md-orange-a400, $md-orange-a700);

$md-deep-orange-50: #FBE9E7 !default;
$md-deep-orange-100: #FFCCBC !default;
$md-deep-orange-200: #FFAB91 !default;
$md-deep-orange-300: #FF8A65 !default;
$md-deep-orange-400: #FF7043 !default;
$md-deep-orange-500: #FF5722 !default;
$md-deep-orange-600: #F4511E !default;
$md-deep-orange-700: #E64A19 !default;
$md-deep-orange-800: #D84315 !default;
$md-deep-orange-900: #BF360C !default;
$md-deep-orange-a100: #FF9E80 !default;
$md-deep-orange-a200: #FF6E40 !default;
$md-deep-orange-a400: #FF3D00 !default;
$md-deep-orange-a700: #DD2C00 !default;
$md-deep-oranges: ($md-deep-orange-50, $md-deep-orange-100, $md-deep-orange-200, $md-deep-orange-300, $md-deep-orange-400, $md-deep-orange-500, $md-deep-orange-600, $md-deep-orange-700, $md-deep-orange-800, $md-deep-orange-900, $md-deep-orange-a100, $md-deep-orange-a200, $md-deep-orange-a400, $md-deep-orange-a700);

$md-brown-50: #EFEBE9 !default;
$md-brown-100: #D7CCC8 !default;
$md-brown-200: #BCAAA4 !default;
$md-brown-300: #A1887F !default;
$md-brown-400: #8D6E63 !default;
$md-brown-500: #795548 !default;
$md-brown-600: #6D4C41 !default;
$md-brown-700: #5D4037 !default;
$md-brown-800: #4E342E !default;
$md-brown-900: #3E2723 !default;
$md-browns: ($md-brown-50, $md-brown-100, $md-brown-200, $md-brown-300, $md-brown-400, $md-brown-500, $md-brown-600, $md-brown-700, $md-brown-800, $md-brown-900);

$md-grey-50: #FAFAFA !default;
$md-grey-100: #F5F5F5 !default;
$md-grey-200: #EEEEEE !default;
$md-grey-300: #E0E0E0 !default;
$md-grey-400: #BDBDBD !default;
$md-grey-500: #9E9E9E !default;
$md-grey-600: #757575 !default;
$md-grey-700: #616161 !default;
$md-grey-800: #424242 !default;
$md-grey-900: #212121 !default;
$md-greys: ($md-grey-50, $md-grey-100, $md-grey-200, $md-grey-300, $md-grey-400, $md-grey-500, $md-grey-600, $md-grey-700, $md-grey-800, $md-grey-900);

$md-blue-grey-50: #ECEFF1 !default;
$md-blue-grey-100: #CFD8DC !default;
$md-blue-grey-200: #B0BEC5 !default;
$md-blue-grey-300: #90A4AE !default;
$md-blue-grey-400: #78909C !default;
$md-blue-grey-500: #607D8B !default;
$md-blue-grey-600: #546E7A !default;
$md-blue-grey-700: #455A64 !default;
$md-blue-grey-800: #37474F !default;
$md-blue-grey-900: #263238 !default;
$md-blue-greys: ($md-blue-grey-50, $md-blue-grey-100, $md-blue-grey-200, $md-blue-grey-300, $md-blue-grey-400, $md-blue-grey-500, $md-blue-grey-600, $md-blue-grey-700, $md-blue-grey-800, $md-blue-grey-900);


@mixin colors {
  @include font-colors;
  @include background-colors;
}


// Font colors
@mixin font-colors {
  $shades: (50, 100, 200, 300, 400, 500, 600, 700, 800, 900, a100, a200, a400, a700);
  $colors: (red, $md-reds), (pink, $md-pinks), (purple, $md-purples), (deep-purple, $md-deep-purples), (indigo, $md-indigos), (blue, $md-blues), (light-blue, $md-light-blues), (cyan, $md-cyans), (teal, $md-teals), (green, $md-greens), (light-green, $md-light-greens), (lime, $md-limes), (yellow, $md-yellows), (amber, $md-ambers), (orange, $md-oranges), (deep-orange, $md-deep-oranges);
  @each $color in $colors {
    $i: 1;
    @each $shade in $shades {
      .#{nth($color, 1)}-#{$shade} {
        color: nth(nth($color, 2), $i);
      }
      $i: $i + 1;
    }
  }

  $shades: (50, 100, 200, 300, 400, 500, 600, 700, 800, 900);
  $colors: (brown, $md-browns), (grey, $md-greys), (blue-grey, $md-blue-greys);
  @each $color in $colors {
    $i: 1;
    @each $shade in $shades {
      .#{nth($color, 1)}-#{$shade} {
        color: nth(nth($color, 2), $i);
      }
      $i: $i + 1;
    }
  }

  .md-primary-dark {
    color: $md-primary-dark;
  }
  .md-secondary-dark {
    color: $md-secondary-dark;
  }
  .md-disabled-dark {
    color: $md-disabled-dark;
  }

  .md-primary-light {
    color: $md-primary-light;
  }
  .md-secondary-light {
    color: $md-secondary-light;
  }
  .md-disabled-light {
    color: $md-disabled-light;
  }
}

// Background colors
@mixin background-colors {
  $shades: (50, 100, 200, 300, 400, 500, 600, 700, 800, 900, a100, a200, a400, a700);
  $colors: (red, $md-reds), (pink, $md-pinks), (purple, $md-purples), (deep-purple, $md-deep-purples), (indigo, $md-indigos), (blue, $md-blues), (light-blue, $md-light-blues), (cyan, $md-cyans), (teal, $md-teals), (green, $md-greens), (light-green, $md-light-greens), (lime, $md-limes), (yellow, $md-yellows), (amber, $md-ambers), (orange, $md-oranges), (deep-orange, $md-deep-oranges);
  @each $color in $colors {
    $i: 1;
    @each $shade in $shades {
      .#{nth($color, 1)}-#{$shade}-bg {
        background-color: nth(nth($color, 2), $i);
      }
      $i: $i + 1;
    }
  }

  $shades: (50, 100, 200, 300, 400, 500, 600, 700, 800, 900);
  $colors: (brown, $md-browns), (grey, $md-greys), (blue-grey, $md-blue-greys);
  @each $color in $colors {
    $i: 1;
    @each $shade in $shades {
      .#{nth($color, 1)}-#{$shade}-bg {
        background-color: nth(nth($color, 2), $i);
      }
      $i: $i + 1;
    }
  }

  .md-primary-dark-bg {
    background-color: $md-primary-dark;
  }
  .md-secondary-dark-bg {
    background-color: $md-secondary-dark;
  }
  .md-disabled-dark-bg {
    background-color: $md-disabled-dark;
  }
  .md-divider-dark-bg {
    background-color: $md-divider-dark;
  }

  .md-primary-light-bg {
    background-color: $md-primary-light;
  }
  .md-secondary-light-bg {
    background-color: $md-secondary-light;
  }
  .md-disabled-light-bg {
    background-color: $md-disabled-light;
  }
  .md-divider-light-bg {
    background-color: $md-divider-light;
  }
}
