// Structure follows the MD spec.
@import "elevations";

@import "motion/animations";
@import "motion/effects";
@import "motion/transitions";

@import "style/colors";
@import "style/typography";

@import "layout/app-bar";
@import "layout/borders";
@import "layout/flex-item";
@import "layout/flex-layout";
@import "layout/heights";
@import "layout/margins";
@import "layout/metrics";
@import "layout/nav-icon";
@import "layout/paddings";
@import "layout/responsive-ui";
@import "layout/spacings";
@import "layout/units";
@import "layout/widths";

@import "components/buttons";
@import "components/checkboxes";
@import "components/comboboxes";
@import "components/datatable-layout";
@import "components/datepickers";
@import "components/grid";
@import "components/labels";
@import "components/list-item";
@import "components/menus";
@import "components/progress";
@import "components/radio-buttons";
@import "components/snackbars";
@import "components/spinners";
@import "components/switches";
@import "components/tabs";
@import "components/tabsheet";
@import "components/textfields";
@import "components/textfieldboxes";
@import "components/windows";

@import "patterns/navigation-drawer";


$primary-color: $md-blue-500;


@mixin material-design {
  @include elevations;

  @include animations;
  @include effects;
  @include transitions;

  @include colors;
  @include typography;

  @include buttons;
  @include checkboxes;
  @include comboboxes;
  @include datatable-layout;
  @include datepickers;
  @include grid;
  @include labels;
  @include list-item;
  @include menus;
  @include progress;
  @include radio-buttons;
  @include snackbars;
  @include spinners;
  @include switches;
  @include tabs;
  @include tabsheet;
  @include textfields;
  @include textfieldboxes;
  @include windows;

  @include app-bar;
  @include borders;
  @include flex-item;
  @include flex-layout;
  @include heights;
  @include margins;
  @include nav-icon;
  @include paddings;
  @include responsive-ui;
  @include spacings;
  @include widths;

  @include navigation-drawer;

  * {
    box-sizing: border-box;
    outline: none;
  }

  &.v-app:not(.v-overlay-container) {
    height: 100%;
  }

  input, textarea, select, button {
    font-family: 'Roboto', sans-serif;
    -webkit-appearance: none;
  }

  .content {
    @include md-cubic-std;
    display: flex;
    justify-content: center;
    overflow: auto;
  }

  .clickable {
    cursor: pointer;
  }
}
