// Structure follows the MD spec.
@import "elevations.scss";

@import "motion/animations.scss";
@import "motion/effects.scss";
@import "motion/transitions.scss";

@import "style/colors.scss";
@import "style/typography.scss";

@import "layout/app-bar.scss";
@import "layout/borders.scss";
@import "layout/flex-item.scss";
@import "layout/flex-layout.scss";
@import "layout/margins.scss";
@import "layout/metrics.scss";
@import "layout/nav-icon.scss";
@import "layout/paddings.scss";
@import "layout/responsive-ui.scss";
@import "layout/spacings.scss";
@import "layout/units.scss";
@import "layout/widths.scss";

@import "components/buttons.scss";
@import "components/cards.scss";
@import "components/checkboxes.scss";
@import "components/comboboxes.scss";
@import "components/datatable-layout.scss";
@import "components/datepickers.scss";
@import "components/grid.scss";
@import "components/labels.scss";
@import "components/list-item.scss";
@import "components/menus.scss";
@import "components/radio-buttons.scss";
@import "components/snackbars.scss";
@import "components/switches.scss";
@import "components/tabs.scss";
@import "components/tabsheet.scss";
@import "components/textfields.scss";
@import "components/windows.scss";

@import "patterns/navigation-drawer.scss";


$primary-color: $md-blue-500;


@mixin material-design {
  @include elevations;

  @include animations;
  @include effects;
  @include transitions;

  @include colors;
  @include typography;

  @include app-bar;
  @include borders;
  @include flex-item;
  @include flex-layout;
  @include margins;
  @include nav-icon;
  @include paddings;
  @include responsive-ui;
  @include spacings;
  @include widths;

  @include buttons;
  @include cards;
  @include checkboxes;
  @include comboboxes;
  @include datatable-layout;
  @include datepickers;
  @include grid;
  @include labels;
  @include list-item;
  @include menus;
  @include radio-buttons;
  @include snackbars;
  @include switches;
  @include tabs;
  @include tabsheet;
  @include textfields;
  @include windows;

  @include navigation-drawer;

  * {
    box-sizing: border-box;
    outline: none;
  }

  &.v-app:not(.v-overlay-container) {
    height: 100%;
  }

  input, textarea, select, button {
    font-family: 'Roboto';
  }

  .content {
    @include md-cubic-std;
    display: flex;
    justify-content: center;
    overflow: auto;
  }
}
