$md-cb-label-pad-left: $md-content-margin-left-tablet - $md-gutter-tablet !default;
$md-cb-min-height: 48px !default;

$md-cb-light-default-color: $md-secondary-dark !default;
$md-cb-light-checked-color: $md-blue-500 !default;
$md-cb-light-disabled-color: rgba(0, 0, 0, 0.26) !default;
$md-cb-light-ripple-color-on: rgba($md-blue-500, 0.1) !default;
$md-cb-light-ripple-color-off: rgba(0, 0, 0, 0.07) !default;
$md-cb-light-ripple-size: $md-u6 !default;

$md-cb-dark-default-color: $md-secondary-light !default;
$md-cb-dark-checked-color: $md-blue-500 !default;
$md-cb-dark-disabled-color: rgba(255, 255, 255, 0.3) !default;
$md-cb-dark-ripple-color-on: rgba($md-blue-500, 0.09) !default;
$md-cb-dark-ripple-color-off: rgba(255, 255, 255, 0.1) !default;
$md-cb-dark-ripple-size: $md-u6 !default;


@mixin checkboxes {

  @include md-checkbox(
    md-checkbox-light,
    $md-primary-dark,
    $md-secondary-dark,
    $md-cb-light-default-color,
    $md-cb-light-checked-color,
    $md-cb-light-disabled-color,
    $md-cb-light-ripple-color-on,
    $md-cb-light-ripple-color-off,
    $md-cb-light-ripple-size
  );

  @include md-checkbox(
    md-checkbox-dark,
    $md-primary-light,
    $md-secondary-light,
    $md-cb-dark-default-color,
    $md-cb-dark-checked-color,
    $md-cb-dark-disabled-color,
    $md-cb-dark-ripple-color-on,
    $md-cb-dark-ripple-color-off,
    $md-cb-dark-ripple-size
  );

  .md-checkboxgroup-light {
    @include md-checkbox(
      v-checkbox,
      $md-primary-dark,
      $md-secondary-dark,
      $md-cb-light-default-color,
      $md-cb-light-checked-color,
      $md-cb-light-disabled-color,
      $md-cb-light-ripple-color-on,
      $md-cb-light-ripple-color-off,
      $md-cb-light-ripple-size
    );
  }

  .md-checkboxgroup-dark {
    @include md-checkbox(
      v-checkbox,
      $md-primary-light,
      $md-disabled-light,
      $md-cb-dark-default-color,
      $md-cb-dark-checked-color,
      $md-cb-dark-disabled-color,
      $md-cb-dark-ripple-color-on,
      $md-cb-dark-ripple-color-off,
      $md-cb-dark-ripple-size
    );
  }
}


@mixin md-checkbox(
  $primaryStyleName,
  $font-primary-color,
  $font-disabled-color,
  $icon-default-color,
  $icon-checked-color,
  $icon-disabled-color,
  $ripple-color-on,
  $ripple-color-off,
  $ripple-size) {

  .#{$primaryStyleName} {
    align-items: flex-start;
    display: flex;
    min-height: $md-cb-min-height;
    min-width: $md-icon-size;
    padding-bottom: ($md-cb-min-height - $md-icon-size)/2;
    padding-top: ($md-cb-min-height - $md-icon-size)/2;
    position: relative;

    * {
      cursor: pointer;
    }

    &.v-disabled {
      * {
        cursor: default;
      }
    }

    label {
      @include md-subheader-font($font-primary-color);
      display: inline-block;
      position: relative;

      &:not(:empty) {
        padding-left: $md-cb-label-pad-left;
      }

      // Ripple
      &::after {
        animation: md-ripple 0.8s ease-out;
        background-color: $ripple-color-off;
        border-radius: 100%;
        content: '';
        display: block;
        height: $ripple-size;
        left: 0;
        margin-left: ($ripple-size - $md-icon-size)/-2;
        margin-top: ($ripple-size - $md-subheader-line-height)/-2;
        position: absolute;
        top: 0;
        transform: scale(0);
        visibility: hidden;
        width: $ripple-size;
      }
    }

    input {
      display: flex;
      margin: 0;
      position: absolute;
      -webkit-appearance: none;
      z-index: 1;

      &::after {
        @include MaterialIcons;
        color: $icon-default-color;
        content: "\e835";
      }

      &:checked {
        &::after {
          color: $icon-checked-color;
          content: "\e834";
        }

        + label::after {
          animation-name: md-ripple-copy;
          background-color: $ripple-color-on;
        }
      }

      &:disabled {
        &::after {
          color: $icon-disabled-color;
        }

        + label {
          color: $font-disabled-color;
        }
      }

      &:focus {
        + label::after {
          visibility: visible;
        }
      }
    }
  }
}


@mixin md-grid-checkbox(
  $icon-default-color,
  $icon-checked-color,
  $ripple-color-on,
  $ripple-color-off,
  $ripple-size) {

  input {
    cursor: pointer;
    display: flex;
    margin: 0;
    position: relative;
    -webkit-appearance: none;

    &::before {
      animation: md-ripple 0.8s ease-out;
      background-color: $ripple-color-off;
      border-radius: 100%;
      content: '';
      display: block;
      height: $ripple-size;
      left: 0;
      margin-left: ($ripple-size - $md-icon-size)/-2;
      margin-top: ($ripple-size - $md-icon-size)/-2;
      position: absolute;
      top: 0;
      transform: scale(0);
      visibility: hidden;
      width: $ripple-size;
    }

    &::after {
      @include MaterialIcons;
      color: $icon-default-color;
      content: "\e835";
    }

    &:checked {
      &::before {
        animation-name: md-ripple-copy;
        background-color: $ripple-color-on;
      }

      &::after {
        color: $icon-checked-color;
        content: "\e834";
      }
    }

    &:focus {
      &::before {
        visibility: visible;
      }
    }
  }

  label {
    display: none;
  }
}
