$md-iconbtn-size: 24px !default;
$md-iconbtn-ripple-size: 48px !default;

$md-iconbtn-font-size-small: 18px !default;
$md-iconbtn-font-size-medium: 24px !default;
$md-iconbtn-font-size-large: 48px !default;

$md-iconbtn-light-font-color: $md-secondary-light !default;
$md-iconbtn-light-disabled-font-color: $md-disabled-light !default;
$md-iconbtn-light-focus-bg-color: rgba(255, 255, 255, 0.3) !default;

$md-iconbtn-dark-font-color: $md-secondary-dark !default;
$md-iconbtn-dark-disabled-font-color: $md-disabled-dark !default;
$md-iconbtn-dark-focus-bg-color: $md-divider-dark !default;


@mixin icon-buttons {
  @include md-iconbtn(
    md-iconbtn-light,
    $md-iconbtn-light-font-color,
    $md-iconbtn-light-disabled-font-color,
    $md-iconbtn-light-focus-bg-color
  );
  @include md-iconbtn(
    md-iconbtn-dark,
    $md-iconbtn-dark-font-color,
    $md-iconbtn-dark-disabled-font-color,
    $md-iconbtn-dark-focus-bg-color
  );
}


@mixin md-iconbtn(
  $primaryStyleName,
  $font-color,
  $disabled-font-color,
  $focus-bg-color) {

  .#{$primaryStyleName} {
    @include md-ripple-btn($focus-bg-color, $md-iconbtn-ripple-size);
    @include md-cubic-std;
    align-items: center;
    color: $font-color;
    cursor: pointer;
    display: flex;
    height: $md-iconbtn-size;
    justify-content: center;
    position: relative;
    width: $md-iconbtn-size;

    // Disabled style
    &.v-disabled {
      color: $disabled-font-color;
      cursor: default;
    }

    * {
      align-items: center;
      display: flex;
    }
  }

  .#{$primaryStyleName}-small .v-icon {
    font-size: $md-iconbtn-font-size-small;
  }

  .#{$primaryStyleName}-medium .v-icon {
    font-size: $md-iconbtn-font-size-medium;
  }

  .#{$primaryStyleName}-large .v-icon {
    font-size: $md-iconbtn-font-size-large;
  }
}
