$md-listitem-icon-small-margin-horizontal: 32px !default;
$md-listitem-icon-small-size: 24px !default;

$md-listitem-icon-large-margin-horizontal: 16px !default;
$md-listitem-icon-large-size: 40px !default;

$md-listitem-hover-bg-color: $md-grey-200 !default;
$md-listitem-ripple-color: $md-grey-300 !default;
$md-listitem-ripple-size: 320px !default;
$md-listitem-ripple-duration: 1.6s !default;

@mixin list-item {
  .md-listitem {
    @include md-cubic-std;
    display: flex;
    overflow: hidden;

    &.clickable:hover {
      background-color: $md-listitem-hover-bg-color;
    }
  }

  .md-listitem-primary {
    align-items: center;
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  .md-listitem-secondary {
    display: flex;
  }

  .md-listitem-content {
    overflow: hidden;

    .v-label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .md-listitem-icon {
    align-items: center;
    align-self: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    overflow: hidden;

    .v-label {
      display: flex;
    }

    .v-image {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .md-listitem-icon-large {
    height: $md-listitem-icon-large-size;
    width: $md-listitem-icon-large-size;
  }

  .md-listitem-icon-small {
    height: $md-listitem-icon-small-size;
    width: $md-listitem-icon-small-size;
  }

  .md-listitem-icon-primary {
    &.small {
      margin-right: $md-listitem-icon-small-margin-horizontal;
    }
    &.large {
      margin-right: $md-listitem-icon-large-margin-horizontal;
    }
  }

  .md-listitem-icon-secondary {
    &.small {
      margin-left: $md-listitem-icon-small-margin-horizontal;
    }
    &.large {
      margin-left: $md-listitem-icon-large-margin-horizontal;
    }
  }
}


@media (max-width: 960px) {
  .md-listitem:not(.no-pad) {
    .md-listitem-primary {
      padding-left: $md-gutter-mobile;
    }
    .md-listitem-secondary {
      padding-right: $md-gutter-mobile;
    }
  }
}

@media (min-width: 961px) {
  .md-listitem:not(.no-pad) {
    .md-listitem-primary {
      padding-left: $md-gutter-tablet;
    }
    .md-listitem-secondary {
      padding-right: $md-gutter-tablet;
    }
  }
}
