$md-step-hover-color: $md-grey-100 !default;
$md-step-ripple-color: $md-grey-300 !default;
$md-step-ripple-duration: 0.8s !default;
$md-step-ripple-size: 260px !default;

@mixin steppers {

  .step {
    &.clickable {
      &:hover {
        background-color: $md-step-hover-color;
      }
    }
  }

  .step-connector {
    margin-left: -$md-u2;
    margin-right: -$md-u2;
    z-index: 1;
  }

  .step-ripple {
    animation: md-ripple $md-step-ripple-duration ease-out;
    background-color: $md-step-ripple-color;
    border-radius: 100%;
    height: $md-step-ripple-size;
    left: 50%;
    margin-left: $md-step-ripple-size / -2;
    margin-top: $md-step-ripple-size / -2;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: scale(0);
    width: $md-step-ripple-size;
    z-index: 0;

    ~ * {
      z-index: 1;
    }
  }

}
