$md-tooltip-opacity: 0.9;
$md-tooltip-bg-color: rgba($md-grey-700, $md-tooltip-opacity);


@mixin tooltips {
  .v-tooltip {
    align-items: center;
    background-color: $md-tooltip-bg-color;
    border-radius: 2px;
    display: flex;
    justify-content: center;

    * {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    pre {
      display: inherit;
      font-family: inherit;
      white-space: inherit;
      margin: 0;
    }
  }
}


@media (max-width: 960px) {
  .v-tooltip {
    @include md-tooltip-font($md-primary-light, true);
    height: $md-tooltip-height-mobile;
    padding: 0 $md-tooltip-pad-horizontal-mobile;
  }
}

@media (min-width: 961px) {
  .v-tooltip {
    @include md-tooltip-font($md-primary-light, false);
    height: $md-tooltip-height-tablet;
    padding: 0 $md-tooltip-pad-horizontal-tablet;
  }
}
